                               /* Блок общее тело */
/* фон страницы доставка и оплата */
.ShippingAndPayment {
    /* цвет в формате rgba */
    background-color: rgba(0, 139, 139, 0.2);
}

                               /* Блок самовыввоз и Доставка*/
/*  Стиль шрифта блока div */
.pickupAndDelivery{
    font-family: Arial, serif;
}
/* маркер в виде черты*/
ul {
    list-style: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}
ul li:before {
    content:  "—  ";
    position: relative;
    left:     -5px;
    font-weight: bold;
}
/* Выравнивание по центру для заголовков */
h1{
    text-align-last: center;
}
/* Выравнивание по центру и слева для параграфа */
p{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 33em;
}


                               /* Блок оплата */
                               /* Блок процедура совершения покупки */
                               /* Блок возврат(замена)товара */