                               /* Блок общий */
/* фон страницы доставка и оплата */
.ShippingAndPayment {
    /* цвет фона */
    background-image: url("../images/fon/4.jpg");
    background-size: cover;
}
/*  Стиль шрифта блока div */
div{
    font-family: Arial, serif;
}
/* маркер в виде черты*/
ul {
    list-style: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 35em;
}
ul li:before {
    content:  "—  ";
    position: relative;
    left:     -5px;
    font-weight: bold;
}
/* Выравнивание по центру для заголовков */
h1{
    text-align-last: center;
}
/* Выравнивание по центру и слева для параграфа */
p{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 33em;
}

                               /* Блок оплата */

.payment {
    list-style-type: decimal;
}
.paymentOne{
    list-style-type: decimal;
}
.purchaseProcedureOrder{
    list-style-type: decimal;
}

                               /* Блок процедура совершения покупки */

.purchaseProcedure{
    list-style-type: decimal;
}



