/* селектор по тегу */
p {
    font-size: 30px;
}

/* селектор по классу */
.importantBlock {
    background: fuchsia;
}

/* селектор по классу но прозрачный */
.noNeed {
    background: fixed;
    /* цвет шрифта */
    color: crimson;
}

/* селектор по идентификатору */
#unimportantBlock {
    background-color: lemonchiffon;
}

/* фон главной страницы */
.index {
    background-image: url("../images/fon/1.jpg");
    background-size: cover;
}

a {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    text-decoration: underline;
    overflow: hidden;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}

.footer {
    font-size: 15px;
}
