header{
    background-color: thistle;
}
nav{
    background-color: tomato;
}
aside{
    background-color: chartreuse;
}
main{
    background-color: dodgerblue;
}
footer{
    background-color: plum;
}
