/* селектор по тегу */
p {
    font-size: 30px;
}

/* селектор по классу */
.importantBlock {
    background: fuchsia;
}

/* селектор по классу но прозрачный */
.noNeed {
    background: fixed;
    /* цвет шрифта */
    color: black;
}

/* селектор по идентификатору */
#unimportantBlock {
    background-color: lemonchiffon;
}

/* фон главной страницы */
.index {
    background-image: url("../images/fon/1.jpg");
    background-size: cover;
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
}

.footer {
    font-size: 15px;
}
a {
    position: relative;
    display: inline-block;
    font-size: 2em;
    color: royalblue;
    font-weight: 800;
    text-decoration: underline;
    overflow: hidden;
}
a::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    color: midnightblue;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
}
a::before {
    width: 0;
    white-space: nowrap;
}
a:hover::before {
    width: 100%;
}